@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");

/* General CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Classes */

.Row {
  display: flex;
  flex-direction: row;
}

.Column {
  display: flex;
  flex-direction: column;
}

.AlignCenter {
  align-items: center;
}

.JustifyCenter {
  justify-content: center;
}

/* Images position */

.ImageTop img {
  position: absolute;
  width: 997px;
  height: 232px;
  top: 110px;
  left: 221px;
}

.ImageLeft img {
  position: absolute;
  width: 278px;
  height: 977px;
  top: 66px;
  left: -66px;
}

.ImageRight img {
  position: absolute;
  width: 278px;
  margin-left: 100px;
  height: 977px;
  top: 105px;
  right: 0;
  transform: rotate(-180deg);
}

.ImageRight2 img {
  width: 175px;
  height: 168px;
  top: 105px;
  left: 1340px;
  margin-left: 1400px;
}

/* Identifiers (IDs) */
#HeaderDiv {
  height: 120px;
  width: auto;
  background-color: #f01e1e;
}

#HeaderDiv h2 {
  margin-top: 24px;
  font-family: "Italianno", cursive;
  font-size: 70px;
  color: #fff;
}
